.card{
    display: flex;
    width: 70px;
    height: 70px;
    padding: 1.5rem;  
    margin: 10px;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
    justify-content: center;
}
.item_holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: .5rem;
}
.header{
    font-weight: 600;
    margin: 10px;
    text-align: center;
}
.img img{
    height: 60px;
    width: 60px;

}
.line{
    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60px;
    border-radius: 1rem;
    height: 5px;
}
.line_bar{
    height: 5px;
    align-self: flex-end;
    background-color: aqua;
    width: 100%;
    transition: width 8s ease-in;
    position: absolute;
    border-radius: 1rem;
}