.card{
    display: flex;
    width: 70px;
    height: 70px;
    padding: 1rem;
    margin: 10px;
    align-items: center;
    font-size: 11px;
    justify-content: center;
}
.item_holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: .5rem;
}
.header{
    font-weight: 600;
    margin: 10px;
    text-align: left;
}
.img img{
    height: 60px;
    width: 60px;

}