.header{
    background-color: #455954;
    display: flex;
    color: white;
    padding: 3rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
    justify-content: space-evenly;
}
.num{
    font-weight: 800;
    font-size: 25px;
}
.main{
    height: fit-content;
}
.item{
    margin: 10px;
}