.header{
    background-color: #455954;
    display: flex;
    color: white;
    padding: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.num{
    font-weight: 800;
    font-size: 2rem;
}
.main{
    height: 100vh;
}
.item{
    margin: 10px;
    width: 100px;
}
.details{
    font-size: 1rem;
}