.contacts{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.img img{
    width: 20px;
    height: 20px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}
.info{
    text-align: left;
    padding-left: 1rem;
}

@media screen and (max-width:640px) {
    .contacts{
        flex-direction: column;
    }
    .details{
        display: flex;
        justify-content: center;
        align-items: flex-start;
flex-direction: column;    }
    .details img{
        left: 0;
    }
}
.info1{
    font-weight: 700;
    color: #455954;
}
.info2{
    font-size: 12px;
    font-weight: 200;
}